[submodule "sourcedata/open-data-registry"]
	path = sourcedata/open-data-registry
	url = https://github.com/dandi/open-data-registry
	datalad-url = https://github.com/dandi/open-data-registry
[submodule "sourcedata/dandi-docs"]
	path = sourcedata/dandi-docs
	url = https://github.com/dandi/dandi-docs/
	datalad-url = https://github.com/dandi/dandi-docs/
